.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.total {
  padding-top: 0%;
}

// .section-total {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.logo__link {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .section-total {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
