:root {
  --main-font-family: 'Roboto', sans-serif;

  --main-color: #212121;
  --main-light-color: #ffffff;
  --current-color: #2196f3;
  --secondary-color: #757575;
  --footer-color: #2f303a;
  --button-color: #f5f4fa;
  --footer-info-color: rgba(255, 255, 255, 0.6);
  --button-hero-bg-color: #188ce8;
  --hero-shadow-button-color: rgba(0, 0, 0, 0.15);
  --header-border: #ececec;
  --complementary-2-color: #000000;
  --border-box-gallery: #eeeeee;
  --hero-section: #c4c4c4;
  --icon-social-network: #afb1b8;
  --footer-social-list: rgba(255, 255, 255, 0.1);
  --footer-icon-social: rgba(255, 255, 255, 1);
  --background-image-hero-04: rgba(47, 48, 58, 0.4);
  --box-shadow-item-12: rgba(0, 0, 0, 0.12);
  --box-shadow-item-14: rgba(0, 0, 0, 0.14);
  --box-shadow-item-02: rgba(0, 0, 0, 0.2);
  --shadow-cards-gallery-12: rgba(0, 0, 0, 0.12);
  --shadow-cards-gallery-06: rgba(0, 0, 0, 0.06);
  --shadow-cards-gallery-16: rgba(0, 0, 0, 0.16);
  --contact-form-input-border: rgba(33, 33, 33, 0.2);
  --gallery-overley-text: rgba(33, 150, 243, 0.9);
  --form-massage-placeholder: rgba(117, 117, 117, 0.5);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
